
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Staatliches&display=swap');


.anton-regular {
    
  }
  
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(21, 21, 21);
}

 .caixa
{
    position: relative;
    width: 1000px;
    height: 700px;
    color: whitesmoke;
    background: rgb(14, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

main#container {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

main#container > * {
    padding: 5px;
}

h1.titulo {
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 13%;
  
}

p.frase {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    margin-top: 40%;
    letter-spacing: 1px;
}

p.autor {
    text-align: right;
    margin-top: 25%;
}

  .linha
  {
    content: '';
    position:absolute;
    top: 83%;
    left: 0%;
    width: 99%;
    height:0px;
    background-color: whitesmoke;
  }

  
  .linha01
  {
    content: '';
    position:absolute;
    top: 25%;
    left: 0%;
    width: 99%;
    height:1px;
    background-color: whitesmoke;
  }

 