body {
}

main#container {
}

h1.titulo {
}

p.frase {
}

p.autor {
}

h6
{   position:fixed;
    left: 2%;
    bottom: 5%;
    width: 100%;
    font-size: 15px;
 }
 
 .avançar
 {
    position: fixed;
    top: 1px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
  }


