
h6
{   position:fixed;
    left: 2%;
    bottom: 5%;
    width: 100%;
    font-size: 15px;
 }
 
 .btn-2 {
   position: fixed;
   top: 10px;
   left: 10px;
   text-align: left;
   display: inline-block;
   margin-bottom: 800%;
   margin-right: 10px; /* Espaçamento entre os botões */
 }
 


